@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zythum - Social Beer Network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Latest compiled and minified SELECT2.org -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Logobeerapp2.png" class="mx-auto w-90 imglogo">
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Users</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Users" asp-controller="Users" asp-action="Users">User List</a>
                                    <a class="dropdown-item" asp-route-id="0" asp-area="Users" asp-page="/Account/Register">Add</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                  
                    <div class="topnav-right">
                        <a class="nav-link text-dark btn btn-outline-secondary btn-sm ml-2" asp-area="" asp-controller="Home" asp-action="Index">
                            Login
                        </a> 
                        <a class="nav-link text-dark mr-2" asp-route-id="0" asp-area="Users" asp-page="/Account/Register">
                            Register 
                        </a>
                    </div>
                }
                

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Zythum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Uploadpicture.js" asp-append-version="true"></script>
    <script src="~/js/Principal.js" asp-append-version="true"></script>
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script src="~/js/Brewery.js" asp-append-version="true"></script>
    <script src="~/js/Beer.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Latest compiled and minified SELECT2.org -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
