@page "/Beers/Register"
@model RegisterModel
@{
    var image = "";
    if (Model.Input.Image != null)
    {
        image = "data:image/jpg;base64," + Convert.ToBase64String(Model.Input.Image,
       0, Model.Input.Image.Length);
    }
    else
    {
        image = "/img/beercup.png";
    }
    
}
<div class="container p-4">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card text-center">
                    <div class="card-header ">
                        <output id="imageBeer">
                            <img src=@image class="imageBeer" />
                        </output>
                    </div>
                    <div class="card-body">
                        <div class="caption text-center">
                            <label class="btn btn-primary" for="files">Load picture</label>
                            <input asp-for="Input.AvatarImage" accept="image/*" type="file" id="files">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Beer form</h3>
                    </div>
                    <div class="panel-body">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div id="header" class="bg-info">
                                        <h2 class="mb-0 t">
                                            <button class="btn btn-link text-light " type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Beer information
                                            </button>
                                        </h2>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">                                        
                                        <div class="form-group">
                                            <input asp-for="Input.BeerName" placeholder="Beer Name" class="form-control" />
                                            <span asp-validation-for="Input.BeerName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input.BeerStyle" placeholder="Beer Style" class="form-control" />
                                            <span asp-validation-for="Input.BeerStyle" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input.BeerABV" placeholder="ABV" class="form-control" />
                                            <span asp-validation-for="Input.BeerABV" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input.BeerIBU" placeholder="Beer IBU" class="form-control" />
                                            <span asp-validation-for="Input.BeerIBU" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <textarea asp-for="Input.BeerDescription" placeholder="Beer Description" class="form-control"></textarea>
                                            <span asp-validation-for="Input.BeerDescription" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <select id="idBrewery" asp-for="Input.BreweryId" class = "form-control"></select>
                                            <span asp-validation-for="Input.BreweryId" class="text-danger"></span>                                        
                                        </div>
                                   
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-danger">@Html.DisplayFor(m => m.Input.ErrorMessage)  </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function() {
            displayBrewery()
        })

        function displayBrewery(){
            $.ajax({
                url:"@Url.Action("ListBrewery","Beers")",
                type: "GET",
                dataType: "json",
                success: function(response) 
                {
                    console.log(response)                


                    $("#idBrewery").append(
	                    $("<option>").attr({"value":""}).text("Select a brewery")
	                 )

                    $.each(response,function(i,element){
	                     $("#idBrewery").append (
                            $("<option>").attr({"value":element.idBrewery}).text(element.breweryName)
		                 )
                    })

                    $("#idBrewery").select2({ placeholder: "Select Brewery", width:"100%"});
                }

            })
        }
    </script>
}
